{% extends "VehiculosAltaGama/padre.html" %}
{% load static %}
{% block ContenidoQueVaACambiar %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario-Agregar Deportivo</title>
</head>
<body>
    <form action="" method: "POST">{% csrf_token %}
        <p>Marca: <input type="text" name= "marca"></p>
        <p>Modelo: <input type="text" name= "modelo"></p>
        <p>Color: <input type="text" name="color"></p>
        <p>Año: <input type="number" name="año"></p>
        <p>Precio: <input type="number" name="precio"></p>

        <input type="submit" value="Enviar">
    

</body>
</html>

{% endblock %}